
/*div.p-inputgroup{
    width: 200px;
    padding-right: 50px;
}*/
div.footer{
    display: flex;
    justify-content: center;
    /*margin-right: 150px;*/

}

/*
p-button.my-button{
    align-self: center;
    justify-self: center;
}
*/
div.card-header{
    display: flex;
    justify-content: center;
}
button.my{
    width: 80px;
    height: 10px;
}
div.footer{
    margin-right: 250px;
}
div.p-inputgroup{
    margin-right: 100px;
    margin-top: -18px;
}
p-button.myb{
    margin-right: 100px;
}
