<p-dialog [(visible)]="createDialog" [style]="{width: '540px'}" header="Création de paiement" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-field">
                    <label for="ref">Référence</label>
                    <input type="text" pInputText id="ref" placeholder="référence" [(ngModel)]="selected.ref" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !selected.ref">ref is required.</small>
                </div>
            </div>
            <div class="p-col-6">
                <div class="p-field">
                    <label for="date">Date paiement</label>
                    <input type="date" pInputText id="date" [(ngModel)]="selected.datePaiement" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !selected.datePaiement">date de paiement is required.</small>
                </div>
            </div>
            <div class="p-col-12">

                <div class="p-field">
                    <label style="margin-bottom: 7px">Déclaration </label>

                    <div class="p-grid p-fluid" style="font-size: 15px">

                        <div class="p-field-radiobutton p-col-3 p-md-3">
                            <p-radioButton name="city" value="Déclaration IS" [(ngModel)]="declaration"></p-radioButton>
                            <label style="margin-right: 15px">IS </label>
                        </div>
                        <div class="p-field-radiobutton p-col-3  p-md-3">
                            <p-radioButton name="city" value="Déclaration TVA" [(ngModel)]="declaration"></p-radioButton>
                            <label>TVA </label>
                        </div>
                        <div class="p-field-radiobutton p-col-3  p-md-3">
                            <p-radioButton name="city" value="Déclaration IR" [(ngModel)]="declaration"></p-radioButton>
                            <label>IR </label>
                        </div>
                        <div class="p-col-3  p-md-2">
                            <button pButton pRipple (click)="chooseDeclaration()" type="button" icon="pi pi-search" iconPos="right" style="width:3rem; height: 3rem" class="p-button-rounde p-mb-2"></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="p-col-12" *ngIf="is == true">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="p-field">
                            <label for="ice">Société</label>
                            <input type="text" pInputText id="ice" placeholder="ice" [(ngModel)]="selected.declarationIS.societe.ice" required autofocus />
                            <small class="p-invalid" *ngIf="submitted && !selected.declarationIS.societe.ice">ice is required.</small>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="p-field">
                            <label for="annee">Année</label>
                            <input type="text" pInputText id="annee" placeholder="annee" [(ngModel)]="selected.declarationIS.annee" required autofocus />
                            <small class="p-invalid" *ngIf="submitted && !selected.declarationIS.annee">ice is required.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12" *ngIf="tva == true">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="p-field">
                            <label for="iceste">Société</label>
                            <input type="text" pInputText id="iceste" placeholder="ice" [(ngModel)]="selected.declarationTva.societe.ice" required autofocus />
                            <small class="p-invalid" *ngIf="submitted && !selected.declarationTva.societe.ice">ice is required.</small>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="p-field">
                            <label for="anneetva">Année</label>
                            <input type="text" pInputText id="anneetva" placeholder="annee" [(ngModel)]="selected.declarationTva.annee" required autofocus />
                            <small class="p-invalid" *ngIf="submitted && !selected.declarationTva.annee">ice is required.</small>
                        </div>
                    </div>

                    <div class="p-grid p-fluid" style="font-size: 15px">

                        <div class="p-field-radiobutton p-col-3 p-md-3p-offset-1" style="margin-left: 20px">
                            <p-radioButton name="city" value="2" [(ngModel)]="selected.typeTva"></p-radioButton>
                            <label style="margin-right: 15px;">Mensuelle </label>
                        </div>
                        <div class="p-field-radiobutton p-col-3  p-md-3 p-offset-3">
                            <p-radioButton name="city" value="1" [(ngModel)]="selected.typeTva"></p-radioButton>
                            <label>Trimestrielle </label>
                        </div>
                    </div>

                    <div class="p-col-6">
                        <div class="p-field">
                            <label for="mois">Mois</label>
                            <input type="text" pInputText id="mois" placeholder="mois" [(ngModel)]="selected.declarationTva.mois" required autofocus />
                            <small class="p-invalid" *ngIf="submitted && !selected.declarationTva.mois">ice is required.</small>
                        </div>
                    </div><div class="p-col-6">
                        <div class="p-field">
                            <label for="trim">Trimestre</label>
                            <input type="text" pInputText id="trim" placeholder="trimestre" [(ngModel)]="selected.declarationTva.trim" required autofocus />
                            <small class="p-invalid" *ngIf="submitted && !selected.declarationTva.trim">ice is required.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-6">
                <div class="p-field">
                    <label for="total">Total</label>
                    <input type="text" pInputText id="total" placeholder="total" [(ngModel)]="selected.total" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !selected.total">total is required.</small>
                </div>
            </div>
            <div class="p-col-6">
            <div class="p-field">
                <label for="montantCptTraiteur">Montant comptable traitant</label>
                <input type="text" pInputText id="montantCptTraiteur" placeholder="Montant comptable traitant" [(ngModel)]="selected.montantCptTraiteur" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.montantCptTraiteur">Montant comptable traitant is required.</small>
            </div>
            </div>
            <div class="p-col-6">
            <div class="p-field">
                <label for="montantCptValidateur">Montant comptable validateur</label>
                <input type="text" pInputText id="montantCptValidateur" placeholder="Montant comptable validateur" [(ngModel)]="selected.montantCptValidateur" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.montantCptValidateur">Montant comptable validateur is required.</small>
            </div>
        </div>
        <!-- <div class="p-formgrid p-grid">
             <div class="p-field p-col">
                 <label for="totalPaye">Total Paye</label>
                 <p-inputNumber id="totalPaye" [(ngModel)]="selected.totalPaye"></p-inputNumber>
             </div>
         </div>-->
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple (click)="savepaiementis()" label="Enregistrer" icon="pi pi-check" class="p-button-text" *ngIf="is==true"></button>
        <button pButton pRipple (click)="savepaiementtva()" label="Enregistrer" icon="pi pi-check" class="p-button-text" *ngIf="tva==true"></button>
    </ng-template>
</p-dialog>
