h6{
    font-weight: bolder;
    font-size: 25px;
    color: white;

}
.layout-topbar-logo{
    text-underline: none;
    text-decoration-line: none;
}
#sign-out, #sign-in, #sign-up{
    color: white;
    font-size: 16px;
}
