<div class="layout-topbar">



    <a id="signout" class="layout-right-panel-button layout-topbar-icon" (click)="logout()" href="#" style="width: 150px; margin-right: 50px">
        <i class="pi pi-fw pi-power-off" style="margin-right: 5px" *ngIf="isLoggedIn"></i>
        <span style="font-size: 19px">Déconnexion</span>
    </a>

    <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="layout-topbar-logo">
        <img id="topbar-logo" src="assets/layout/images/logo-ecompta.jpg">
    </a>
    <!--
        <span class="layout-topbar-search">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Enter your search term">
        </span>
    -->
    <ul  class="topbar-menu">
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}"style="margin-right: 30px">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <i class="bi bi-person-circle"></i>
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="font-size: 19px">{{username}}</span>
                    <span class="layout-profile-role">{{roleUser}}</span>
                </div>
            </a>

        </li>

    </ul>
</div>
