<p-dialog [(visible)]="createDialog" [style]="{width: '490px'}" header="Acompte create" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-field">
                    <label for="annee">Année</label>
                    <input type="text" pInputText id="annee" [(ngModel)]="acomptes.anneePaye" disabled required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !acomptes.anneePaye">anneePaye is required.</small>
                </div>
            </div>
            <div class="p-col-6">
                <div class="p-field">
                    <label for="societe">Société</label>
                    <input type="text" pInputText id="societe" [(ngModel)]="acomptes.societe.ice" disabled required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !acomptes.societe.ice">société is required.</small>
                </div>
            </div>
            <div class="p-col-6">
                <div class="p-field">
                    <label for="numero">Numéro</label>
                    <input type="text" pInputText id="numero" value="1" [(ngModel)]="acomptes.numero" disabled required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !acomptes.numero">numero is required.</small>
                </div>
            </div>
            <div class="p-col-6">
                <div class="p-field">
                    <label for="montant">Montant</label>
                    <p-inputNumber id="montant" [(ngModel)]="acomptes.montant" disabled mode="currency" currency="MAD"></p-inputNumber>
                    <small class="p-invalid" *ngIf="submitted && !acomptes.montant">libelle is required.</small>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

