<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>


        <div class="card">

            <div class="card-header mb-5"><h1>Visualisation</h1></div>
            <div class="card-body">
                <div class="p-grid p-fluid">

                    <div class="p-fluid p-formgrid p-grid">

                        <div class="p-field p-col">
                            <label for="firstname1">Ice de société :</label>
                            <input id="firstname1" type="text" [(ngModel)]="demandeVo.societe" pInputText>
                        </div>
                        <div class="p-field p-col">
                            <label for="firstname1">Opération</label>
                            <input id="firstname1" type="text" [(ngModel)]="demandeVo.operation" pInputText>
                        </div>
                        <div class="p-field p-col">
                            <label for="firstname1">Année</label>
                            <input id="firstname1" type="text" [(ngModel)]="demandeVo.annee" pInputText>
                        </div>
                        <div class="p-field p-col">
                            <label for="lastname1">première mois :</label>
                            <input id="lastname1" type="text" [(ngModel)]="demandeVo.moisMin" pInputText>
                        </div>
                        <div class="p-field p-col">
                            <label for="lastname1">deuxième mois :</label>
                            <input id="lastname1" type="text" [(ngModel)]="demandeVo.moisMax" pInputText>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer p-d-flex p-jc-center">
                <p-button label="chercher" icon="pi pi-search" (onClick)="searchCriteria()"></p-button>
            </div>
        </div>

        <!--  <div class="card">
              <h4 style="margin: 10px">Visualisation des demandes</h4>
              <div class="p-grid p-fluid">
                  <div class="p-col-12  p-md-2 p-offset-2"><div style="margin-bottom: 5px"><label>Référence </label></div>
                      <input type="text" pInputText placeholder="reference" [(ngModel)]="demandeVo.ref">
                  </div>
                  <div class="p-col-12  p-md-2"><div style="margin-bottom: 5px"><label>Opération </label></div>
                      <input type="text" pInputText placeholder="operation" [(ngModel)]="demandeVo.operation">
                  </div>
                  <div class="p-col-12  p-md-2"><div style="margin-bottom: 5px"><label>Société </label></div>
                      <input type="text" pInputText placeholder="ice socété" [(ngModel)]="demandeVo.societe">
                  </div>
                  <div class="p-col-12  p-md-2"><div style="margin-bottom: 5px"><label>Comptable traiteur</label></div>
                      <input type="text" pInputText placeholder="nom du comptable" [(ngModel)]="demandeVo.comptableTraiteur">
                  </div>
                  <div class="p-col-12  p-md-2 p-offset-4"><div style="margin-bottom: 5px"><label>Comptable validateur </label></div>
                      <input type="text" pInputText placeholder="nom du comptable" [(ngModel)]="demandeVo.comptableValidateur">
                  </div>
                  <div class="p-col-12  p-md-2"><div style="margin-bottom: 5px"><label>État </label></div>
                      <input type="text" pInputText placeholder="état de demande" [(ngModel)]="demandeVo.etatDemande">
                  </div>

              </div>
              <div style="margin: 15px"><button pButton pRipple type="button" label="Search" icon="pi pi-search" iconPos="right" style="width:20rem; height: 10px" class="p-col-6 p-mb-2 p-offset-5" (click)="searchCriteria()"></button></div>-->

        <div class="card">
            <h3>Liste des demandes</h3>
            <p-table #dt [value]="items" [rows]="10" [paginator]="true" [rowHover]="true"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Montrant {first} à {last} des {totalRecords} entrées"
                     [showCurrentPageReport]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="reference">Référence
                            <p-sortIcon field="reference"></p-sortIcon>
                        </th>
                        <th pSortableColumn="annee">Date de demande
                            <p-sortIcon field="annee"></p-sortIcon>
                        </th>
                        <th pSortableColumn="societe" style="width: 10rem">Société
                            <p-sortIcon field="societe"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalHTDiff">Opération
                            <p-sortIcon field="totalHTDiff"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalHTDiff" style="width: 10rem">Année
                            <p-sortIcon field="totalHTDiff"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalHTDiff" style="width: 8rem">Mois
                            <p-sortIcon field="totalHTDiff"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalHTDiff" style="width: 9rem">Trim
                            <p-sortIcon field="totalHTDiff"></p-sortIcon>
                        </th>
                        <th pSortableColumn="montantISCalcule">Comptable traitant
                            <p-sortIcon field="montantISCalcule"></p-sortIcon>
                        </th>
                        <th pSortableColumn="montantISCalcule" style="width: 15rem">Comptable validateur
                            <p-sortIcon field="montantISCalcule"></p-sortIcon>
                        </th>
                        <th pSortableColumn="etatDemande">État
                            <p-sortIcon field="etatDemande"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-demande let-expanded="expanded">
                    <tr>
                        <td>{{demande.ref}}</td>
                        <td>{{demande.dateDemande}}</td>
                        <td>{{demande.societe.ice}}</td>
                        <td>{{demande.operation}}</td>
                        <td>{{demande.annee}}</td>
                        <td *ngIf="demande.operation=='Declaration IS'">-</td>
                        <td *ngIf="demande.operation=='Declaration IR'">{{demande.mois}}</td>
                        <td *ngIf="demande.operation=='Declaration TVA'">{{demande.mois}}</td>
                        <td *ngIf="demande.operation=='Declaration IS' || demande.operation=='Declaration IR'">-</td>
                        <td *ngIf="demande.operation=='Declaration TVA'">{{demande.trimestre}}</td>
                        <td>{{demande.comptableTraiteur.nom}}</td>
                        <td>{{demande.comptableValidateur.nom}}</td>
                        <td>{{demande.etatDemande.libelle}}</td>
                    </tr>
                </ng-template>

            </p-table>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Au total il y a {{items ? items.length : 0 }} demandes.
                </div>
            </ng-template>
        </div>


    </div>
</div>

