<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Facture Edit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div>
            <div class="p-field">
                <label for="ref">Reference</label>
                <input type="text" pInputText id="ref" [(ngModel)]="selected.ref" required autofocus disabled />
                <small class="p-invalid" *ngIf="submitted && !selected.ref">ref is required.</small>
            </div>
            <div class="p-field">
                <label for="total">libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.libelle">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">Date Operation</label>
                <input type="date" pInputText id="total" [(ngModel)]="selected.dateOperation" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateOperation">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">Montan hors taxe</label>
                <input type="number" pInputText id="total" [(ngModel)]="selected.montantHorsTaxe" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.montantHorsTaxe">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">Type Operation</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.typeOperation" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.typeOperation">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">Societe Source</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.societeSource.ice" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.societeSource.ice">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">Societe distination</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.societeDistination.ice" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.societeDistination.ice">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">etat Facture </label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.etatFacture.code" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.etatFacture.code">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">etat Paiement </label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.etatPaiement.code" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.etatPaiement.code">total is required.</small>
            </div>
            <div class="p-field">
                <label for="total">TVA </label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.tva.ref" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.tva.ref">total is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
