<div class="card">

    <div class="card-header">
        <div class="row HOHO">
            <div class="p-field col-md-2">
                <label for="ref">Date Min</label><br>
                <input type="date" pInputText id="ref" [(ngModel)]="facturevo.dmin" required autofocus />
            </div>
            <div class="p-field col-md-2">
                <label for="ref">Date Max</label><br>
                <input type="date" pInputText id="ref" [(ngModel)]="facturevo.dmax" required autofocus />
            </div>
            <div class="p-field  col-md-2  w-25" >
                <label for="ref">Ice</label><br>
                <input class="soso"  type="text" pInputText id="ref" [(ngModel)]="facturevo.reference" required autofocus />
            </div>

            <div class=" col-md-4 m-md-2 ml-md-1 ">
                <label for="ref"></label><br>

                <button pButton pRipple label="search"  icon="pi pi-search"   class="p-button-success p-mr-2 p-mb-2" (click)="journal()">
                </button>
                <button pButton pRipple label="Télécharger"  icon="pi pi-download"   class="p-button-secondary p-mr-2 p-mb-2" (click)="downloadAsPDF()"></button>

            </div>

        </div>
    </div>
    <div id="pdfTable" #pdfTable>


        <div class="card-body">
            <h2>JOURNAL DE <strong>{{facturevo.reference}}</strong> DU <u>{{facturevo.dmin}}</u> à <u>{{facturevo.dmax}}</u> </h2>
            <br>
            <table class="table table-hover table-striped">
                <thead>
                <th>Date</th>
                <th>Réference</th>
                <th>libelle</th>
                <th>CRÉDIT</th>
                <th>DÉBIT</th>




                </thead>
                <tbody>
                <tr *ngFor="let c of facturesJournal ">
                    <td>{{c.dateOperation}}</td>
                    <td>{{c.ref}}</td>
                    <td>{{c.libelle}}</td>
                    <td>{{c.credit}}</td>
                    <td>{{c.debit}}</td>


                </tr>


                </tbody>
            </table>
        </div>
    </div>








</div>


<!--

<div class="container">
    <div id="pdfTable" #pdfTable>
        <h2>Angular HTML To PDF Generator Example - tutsmake.com</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Website</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Sam</td>
                <td>Sam</td>
                <td>tutsmake.com</td>
            </tr>
            <tr>
                <td>john</td>
                <td>dam</td>
                <td>w3school.com</td>
            </tr>
            <tr>
                <td>jonhy</td>
                <td>hid</td>
                <td>geeks.com</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
</div>





-->

